@font-face {
  font-family: Helvetica-Neue-STD-65;
  src: url(fonts/Helvetica/Helvetica-Neue-LT-Std-65-Medium_22532.ttf);
}

@font-face {
  font-family: apercupro;
  src: url(fonts/apercupro-regular/apercu_regular_pro.otf),
  url(fonts/apercupro-bold/apercu_bold_pro.otf),
  url(fonts/apercupro-bold-italic/apercu_bold_italic_pro.otf),
  url(fonts/apercupro-medium/apercu_medium_pro.otf),
  url(fonts/apercupro-medium-italic/apercu_medium_italic_pro.otf),
  url(fonts/apercupro-regular-italic/apercu_regular_italic_pro.otf),
  url(fonts/apercupro-mono/apercu_mono_pro.otf)
}

// @font-face {
//   font-family: apercupro;
//   src: url(fonts/apercupro-bold-italic/apercu_bold_italic_pro.otf);
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: apercupro;
//   src: url(fonts/apercupro-medium/apercu_medium_pro.otf);
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: apercupro;
//   src: url(fonts/apercupro-medium-italic/apercu_medium_italic_pro.otf);
//   font-weight: bolder;
//   font-style: italic;
// }

// @font-face {
//   font-family: apercupro;
//   src: url(fonts/apercupro-regular/apercu_regular_pro.otf);
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: apercupro;
//   src: url(fonts/apercupro-regular-italic/apercu_regular_italic_pro.otf);
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: apercu-mono;
//   src: url(fonts/apercupro-mono/apercu_mono_pro.otf);
// }

.App {
  text-align: center;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
