.say-hello {
    align-content: center;
}

.say-hello h1 {
    font-weight: bold;
    font-size: 24px;
    color: #4e4d5a;
}

.footer-wrapper {
    align-content: center;
    margin-top: 50px;
}


.social {
    margin-top: 25px;
    width: 70%;
    height: 40%;
    font-size: 17px;
}

.no-underline {
    text-decoration: none !important;
}

.social-icon {
    margin-right: 10px !important;
}

.created-by {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 70px;
    font-size: 13px;
}

.blue-line {
    background-color: #0b3ffa;
    height: 5px;
    width: 100%;
}

.mobile-footer {
    visibility: hidden;
}

.web-footer {
    visibility: unset;
}

@media (max-width: 767px) {
    .footer-wrapper {
        margin-top: 400px;
    }

    .mobile-footer {
        visibility: unset;
        align-content: center;
        padding-left: 27%;
        // padding-top: -20px;
    }

    .say-hello {
        margin-bottom: -60px;
    }

    .no-underline {
        font-size: 18px;
    }

    .web-footer {
        visibility: hidden;
    }
}
