.nav-bar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    float: left;
}

.logo h1 {
    font-size: 32px;
    color: #23292D;
    font-family: Helvetica-Neue-STD-65;
    letter-spacing: 1px;
    font-weight: bold;
}

.resume-link {
    font-size: 18px;
    color: #4895F0;
    font-family: Helvetica-Neue-STD-65;
}

.resume-link:hover {
    cursor: pointer;
    color: #B0CFF8;
    text-decoration: none;
}

.options {
    float: right;
}

.options a {
    margin-left: 20px;
    display: block;
    float: right;
    color: #1C2229;
}

.options a:hover {
    cursor: pointer;
    color: #B0CFF8;
    text-decoration: none;
}