.main-wrapper {
    width: 75.75%;
    margin: 0 auto;
    margin-top: 2rem;
}

.banner-content {
    color: #3C3B48;
    text-align: left;
}
  
.banner-content h1 {
    font-size: 35px;
    color: #3C3B48;
    font-weight: 600;
}

.banner-content p {
    margin-top: 1rem;
}

.mail-icon {
    margin-left:5px;
}

.gif-load {
    margin-left: 10%;
    width: 100%;
}