.main-wrapper {
    width: 80.75%;
    height: calc(100vh - 150px);
    margin: 0 auto;
    // background: yellow;
}

.banner-content {
    color: #3C3B48;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 5rem;
    // background: blue;
}
  
.banner-content h1 {
    font-size: 42px;
    color: #3C3B48;
    font-weight: 600;
}

.banner-content p {
    font-size: 22px;
    color: #3C3B48;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .banner-content {
        margin: 0px;

    }

    .banner-content h1 {
        font-size: 28px;
        color: #3C3B48;
        font-weight: 600;
    }
    
    .banner-content p {
        font-size: 18px;
        margin-top: 1rem;
    }
}

.mail-icon {
    margin-left:5px;
}
 
.me {
    margin: 10%;
    position: relative;
    width: 80%;
}

.dark-blue {
    color: #2855FF;
}

.dark-blue:hover {
    background-color: #2855FF;
}

#main {
    transition: margin-top .5s;
}   

b, strong {font-weight:bold !important;}