.projects-wrapper {
  margin: 0 auto;
}

.projects-title {
  text-align: center;
  font-size: 38px;
  color: #3c3b48;
  font-weight: 600;
  margin-bottom: 10%;
}

.project-section {
  height: calc(100vh - 150px);
}

.talentboard-gif {
  width: 110%;
}

.logo-img {
  height: calc(100vh - 290px);
}

.logo-box {
  width: 100%;
  text-align: center;
}

.cnn-img {
  margin-top: 135px;
  margin-left:  50px;
  width: 100%;
}

.project-cnn-wrapper {
  text-align: center;
}

.more-wrapper{
  height: 500px;
  background-color: #202428;
}

.project-description {
  margin-top: 75px;
  text-align: left;
}

.project-description p {
    font-size: 16px;
    color: #4e4d5a;
}

.project-type {
  font-size: 24px;
  color: #0b3ffa;
  font-weight: 600;
  margin-left: 100px;
}

.project-name {
  font-size: 44px;
  color: #3c3b48;
  font-weight: 600;
  margin-left: 100px;
}

.github-icon {
  margin-left: 10px; 
}

.button-2 {
  margin-left: 10px;
}

hr {
    border-top: 5px solid #2855ff;
    margin-left: 100px;
}

